@model IEnumerable<User>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <h3>管理员人员管理<small style="float:right; color:darkred;">sdffdsfsd</small></h3>
        <table class="table table-hover" style="margin-top:-15px;">
            <thead>
                <tr>
                    <th>注册时间</th>
                    <th>用户名</th>
                    <th>管理员等级</th>
                    <th>真实姓名</th>
                    <th>联系方式</th>
                    <th>Email</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr id="table-tr-@x.Id">
                        <td>@x.RegisterTime</td>
                        <td>@x.UserName</td>
                        <td>@x.Level</td>
                        <td>@x.RealName</td>
                        <td>@x.PhoneNumber</td>
                        <td>@x.Email</td>
                        @if (User.IsSignedIn())
                        {
                            <td>
                                <a asp-action="EditAnnouncementIllegal" asp-controller="Admin" asp-route-id="@x.Id">修改</a>
                                <a href="javascript:remove(@x.Id)">删除</a>
                            </td>
                        }
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

@if (User.IsSignedIn())
{
    <script>
        function remove(id)
        {
            var jug = confirm("确认删除？");
            if (jug == true) {
                var url = "/Admin/DeleteAnnouncementIllegal";
                var params={"id":id};
                $.post(url, params, function (data) {
                    if (data == "success") {
                        alert("删除成功");
                        $("#table-tr-" + id).remove();
                    }
                    else {
                        alert("删除失败");
                    }
                });
            }
        }
    </script>
}