@model IEnumerable<YearReportEnterprise>
<div id="content-header">
    <h1>企业年度报表统计</h1>
</div>
<div id="breadcrumb">
    <a asp-controller="Home" asp-action="Manage" title="Go to BackHome" class="tip-bottom"><i class="glyphicon glyphicon-home"></i> Home</a>
    <a href="#" class="current">企业年度报表统计</a>
    <small style="float:right; color:darkred; padding-top:6px; padding-right:20px;">当前企业年度报表数量：<strong style="color:red;">@ViewBag.Count</strong></small>
</div>
<div class="container-fluid" id="AllPageLayout">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <table class="table table-hover table-bordered" style="margin-top:-15px;">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>填写时间</th>
                        <th>联络员</th>
                        <th>企业名称</th>
                        <th>注册号</th>
                        <th>报表时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr id="table-tr-@x.Id">
                            <td>@x.Id</td>
                            <td>@x.WriteTime.Date</td>
                            <td>@x.User.UserName</td>
                            <td>@x.User.EnterpriseName</td>
                            <td>@x.User.RegistrationNumber</td>
                            <td>@x.DateTime.Year</td>
                            @if (User.IsSignedIn())
                            {
                                <td>
                                    <a href="#">查看详情</a>
                                </td>
                            }
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

