@model BaseInfo
<style>
    th {
        margin-top: 10px;
    }
</style>
<div id="content-header">
    <h1>编辑基本企业信息</h1>
</div>
<div id="breadcrumb">
    <a asp-controller="Home" asp-action="Manage" title="Go to BackHome" class="tip-bottom"><i class="glyphicon glyphicon-home"></i> Home</a>
    <a href="#" class="current">编辑基本企业信息</a>
</div>
<div class="container-fluid" id="AllPageLayout">
    <form id="defaultForm" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <table class="table">
            <tbody>
                <tr>
                    <th class="form-control">注册号</th>
                    <td class="form-group"><input type="text" class="form-control" name="RegisteNumber" value="@Model.RegisteNumber" /></td>
                </tr>
                <tr>
                    <th class="form-control">企业名称</th>
                    <td class="form-group"><input type="text" class="form-control" name="CompanyName" value="@Model.CompanyName" /></td>
                </tr>
                <tr>
                    <th class="form-control">住所</th>
                    <td class="form-group"><input type="text" class="form-control" name="Address" value="@Model.Address" /></td>
                </tr>
                <tr>
                    <th class="form-control">营业期限自</th>
                    <td class="form-group"><input type="datetime" class="form-control" name="BeginTime" value="@Model.BeginTime" /></td>
                </tr>
                <tr>
                    <th class="form-control">营业期限至</th>
                    <td><input type="datetime" class="form-control" name="EndTime" value="@Model.EndTime" /></td>
                </tr>
                <tr>
                    <th class="form-control">经营范围</th>
                    <td class="form-group"><input type="text" class="form-control" name="Scope" value="@Model.Scope" /></td>
                </tr>
                <tr>
                    <th class="form-control">登记机关</th>
                    <td class="form-group"><input type="text" class="form-control" name="PublicUnit" value="@Model.PublicUnit" /></td>
                </tr>
                <tr>
                    <th class="form-control">核准日期</th>
                    <td class="form-group"><input type="datetime" class="form-control" name="ApproveTime" value="@Model.ApproveTime" /></td>
                </tr>
            </tbody>
        </table>
        <p>
            <input class="btn btn-info inverse" type="submit" value="修改" />
            <a asp-controller="Admin" asp-action="DetailsBaseInfo">取消</a>
        </p>
    </form>
</div>
<script src="~/scripts/jquery-2.1.1.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/bootstrapValidator.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $("#defaultForm").bootstrapValidator({
                message: '这个值没有被验证',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'

                },
                fields: {//注册号不能重复 要有对比
                    RegisteNumber: {
                        message: '注册号没有验证',
                        validators: {
                            notEmpty: {
                                message: '注册号不能为空'
                            },
                            regexp: {
                                regexp: /^\d{15}$/,
                                message: '只能是15位数字'
                            }
                        }
                    },
                    CompanyName: {
                        validators: {
                            notEmpty: {
                                message: '不能为空'
                            }
                        }
                    },
                    Address: {
                        validators: {
                            notEmpty: {
                                message: '不能为空'
                            }
                        }
                    },
                    BeginTime: {
                        validators: {
                            notEmpty: {
                                message: '不能为空'
                            }
                        }
                    },
                    Scope: {
                        validators: {
                            notEmpty: {
                                message: '不能为空'
                            }
                        }
                    },
                    PublicUnit: {
                        validators: {
                            notEmpty: {
                                message: '不能为空'
                            }
                        }
                    },
                    ApproveTime: {
                        validators: {
                            notEmpty: {
                                message: '不能为空'
                            }
                        }
                    },
                }

            })
                .on('success.form.bv', function (e) {
                    e.preventDefault();
                    var $form = $(e.target);
                    var bv = $form.data('bootstrapValidator');

                    $.post("/Admin/EditBaseInfo", $form.serialize(), function (data) {
                        if (data == "success") {
                            alert("修改成功");
                            window.location.href = "/Admin/DetailsBaseInfo";
                        }
                        else {
                            alert("修改失败");
                        }
                    });
                });
        });
</script>