@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-6 well" style="min-height:300px;">
            <p class="text-left" style="width:50%; display:inline-block;"><strong style="font-size:1.8em; font-weight:600;">抽查信息公告</strong></p><p class="text-right" style="width:50%; display:inline-block; font-size:1em;"><a asp-action="AnnouncementRandom" asp-controller="Page" class="text-right">read&nbsp;more&nbsp;&lsaquo;&lsaquo;</a></p>          
            <hr />
            <ul >
                @foreach (var x in ViewBag.random)
                {
                    <li style="padding:5px; margin:5px; padding-left:0; margin-left:0;">
                        <a asp-controller="Page" asp-action="Article" asp-route-id="@x.Id">关于将<span class="aBtn">@x.CompanyName@x.Title</span></a>
                        <span style="float:right;">@x.PublicTime.ToString("yyyy年MM月dd日")</span>
                    </li>

                }
            </ul>
        </div>
        <div class="col-md-5 col-md-offset-1 well" style="min-height:300px;">
            <p class="text-left" style="width:50%; display:inline-block;"><strong style="font-size:1.8em; font-weight:600;">严重违法信息公告</strong></p><p class="text-right" style="width:50%; display:inline-block; font-size:1em;"><a asp-action="AnnouncemenIllegal" asp-controller="Page" class="text-right">read&nbsp;more&nbsp;&lsaquo;&lsaquo;</a></p>  
            <hr />
            <ul>
                @foreach (var x in ViewBag.illegal)
                {
                    <li style="padding:5px; margin:5px; padding-left:0; margin-left:0;">
                        <a asp-controller="Page" asp-action="Article" asp-route-id="@x.Id">关于将<span class="aBtn">@x.CompanyName@x.Title</span></a>
                        <span style="float:right;">@x.PublicTime.ToString("yyyy年MM月dd日")</span>
                    </li>

                }
            </ul>
        </div>
        <div class="col-md-6 well" style="min-height:300px;">
            <p class="text-left" style="width:50%; display:inline-block;"><strong style="font-size:1.8em; font-weight:600;">经营异常信息公告</strong></p><p class="text-right" style="width:50%; display:inline-block; font-size:1em;"><a asp-action="AnnouncementUnsual" asp-controller="Page" class="text-right">read&nbsp;more&nbsp;&lsaquo;&lsaquo;</a></p>  
            <hr />
            <ul>
                @foreach (var x in ViewBag.unusual)
                {
                    <li style="padding:5px; margin:5px; padding-left:0; margin-left:0;">
                        <a asp-controller="Page" asp-action="Article" asp-route-id="@x.Id">关于将<span class="aBtn">@x.CompanyName@x.Title</span></a>
                        <span style="float:right;">@x.PublicTime.ToString("yyyy年MM月dd日")</span>
                    </li>

                }
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).load(function(){
        var oBtn = document.getElementsByClassName("aBtn");
        for(var i=0;i<oBtn.length;i++){
            var btn = oBtn[i].innerHTML;
            var a = null;
            var cut = new String();
            if (btn.length > 14) {
                for (var j = 0; j <= 14; j++) {
                    a = btn.charAt(j);
                    cut = cut.concat(a);
                }
                oBtn[i].innerHTML = cut+"...";
            } else {
                oBtn[i].innerHTML = btn;
            }
        }
    })
</script>