@model IEnumerable<AnnouncementRandom>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<content class="APage AnnouncementRandomPage">
    <div class="leftSide">
        <h3>抽查检查信息公告</h3>
        <ul>
            @foreach (var x in Model)
            {
                <li>
                    <a asp-controller="Page" asp-action="ArticlePageRandom" asp-route-id="@x.Id">@x.title</a>
                    <span>@ViewBag.Time</span>
                </li>

            }
        </ul>
    </div>

    <div class="rightSide">
        <h3>最新公告</h3>
        <ul>
            @foreach (var x in Model)
            {
                <li>
                    <a asp-controller="Page" asp-action="ArticlePageRandom" asp-route-id="@x.Id">@x.title</a>
                    <span>@ViewBag.Time</span>
                </li>

            }
        </ul>
    </div>
</content>