@model IEnumerable<Announcement>
@{
Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    li {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        font-size: 1.2em;
    }
</style>
<content class="container-fluid">
    <div class="row" style="min-height:430px;">
        <div class="col-lg-12">
            <div class="col-lg-7">
                <h3 style="margin:20px 0 10px;">严重违法信息公告</h3>
                <hr />
                <ul class="list-content">
                    @foreach (var x in Model)
                    {
                        <li class="list-name">
                            <a asp-controller="Page" asp-action="ArticlePageIllegal" asp-route-id="@x.Id"><span style="color:#000; font-weight:600;">关于将</span><strong class="aBtn" style="color:#000;">@x.CompanyName@x.Title</strong></a>
                            <span style="float:right;">@x.PublicTime.ToString("yyyy年MM月dd日")</span>
                        </li>
                    }
                </ul>
                @Html.MakePager("pager-item", "", "pager")
            </div>
            <div class="col-lg-4 col-lg-offset-1">
                <h3 style="margin:20px 0 10px;">最新公告</h3>
                <hr />
                <ul>
                    @foreach (var x in Model)
                    {
                        <li style="padding-top:5px; padding-bottom:5px; margin-bottom:5px;">
                            <a asp-controller="Page" asp-action="ArticlePageIllegal" asp-route-id="@x.Id"><strong class="aBtn" style="color:#000;"><span>关于将</span>@x.CompanyName@x.Title</strong></a>
                            <span style="float:right;">@x.PublicTime.ToString("yyyy年MM月dd日")</span>
                        </li>

                    }
                </ul>
            </div>
        </div>
    </div>
</content>
<script type="text/javascript">
    $(window).load(function(){
        var oBtn = document.getElementsByClassName("aBtn");
        for(var i=0;i<oBtn.length;i++){
            var btn = oBtn[i].innerHTML;
            var a = null;
            var cut = new String();
            if (btn.length > 20) {
                for (var j = 0; j <= 20; j++) {
                    a = btn.charAt(j);
                    cut = cut.concat(a);
                }
                oBtn[i].innerHTML = cut+"...";
            } else {
                oBtn[i].innerHTML = btn;
            }
        }
    })
</script>

