@model IEnumerable<AnnouncementUnsual>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<content class="APage AnnouncementUnsualPage">
    <div class="leftSide">
        <h3>经营异常信息公告</h3>
        <ul>
            @foreach (var x in Model)
            {
                <li>
                    <a asp-controller="Page" asp-action="ArticlePageUnusual" asp-route-id="@x.Id">@x.title</a>
                    <span>@x.DateTime.ToString("yyyy年MM月dd日")</span>
                </li>

            }
        </ul>
    </div>
    <div class="rightSide">
        <h3>最新公告</h3>
        <ul>
            @foreach (var x in Model)
            {
                <li>
                    <a asp-controller="Page" asp-action="ArticlePageUnusual" asp-route-id="@x.Id">@x.title</a>
                    <span>@x.DateTime.ToString("yyyy年MM月dd日")</span>
                </li>

            }
        </ul>
    </div>
</content>
