@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-6 well" style="min-height:300px;">
            <h3>抽查信息公告</h3> 
            <hr />
            <ul >
                @foreach (var x in ViewBag.random)
                {
                    <li style="padding:5px; margin:5px; padding-left:0; margin-left:0;">
                        <a asp-controller="Page" asp-action="ArticlePageRandom" asp-route-id="@x.Id"><span class="aBtn">@x.Title</span></a>
                        <span style="float:right;">@x.PublicTime.ToString("yyyy年MM月dd日")</span>
                    </li>

                }
            </ul>
        </div>
        <div class="col-md-5 col-md-offset-1 well" style="min-height:300px;">
            <h3>严重违法信息公告</h3>
            <hr />
            <ul>
                @foreach (var x in ViewBag.illegal)
                {
                    <li style="padding:5px; margin:5px; padding-left:0; margin-left:0;">
                        <a asp-controller="Page" asp-action="ArticlePageIllegal" asp-route-id="@x.Id"><span class="aBtn">@x.Title</span></a>
                        <span style="float:right;">@x.PublicTime.ToString("yyyy年MM月dd日")</span>
                    </li>

                }
            </ul>
        </div>
        <div class="col-md-6 well" style="min-height:300px;">
            <h3>经营异常信息公告</h3>
            <hr />
            <ul>
                @foreach (var x in ViewBag.unusual)
                {
                    <li style="padding:5px; margin:5px; padding-left:0; margin-left:0;">
                        <a asp-controller="Page" asp-action="ArticlePageUnusual" asp-route-id="@x.Id"><span class="aBtn">@x.Title</span></a>
                        <span style="float:right;">@x.PublicTime.ToString("yyyy年MM月dd日")</span>
                    </li>

                }
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).load(function(){
        var oBtn = document.getElementsByClassName("aBtn");
        for(var i=0;i<oBtn.length;i++){
            var btn = oBtn[i].innerHTML;
            var a = null;
            var cut = new String();
            if (btn.length > 12) {
                for (var j = 0; j <= 14; j++) {
                    a = btn.charAt(j);
                    cut = cut.concat(a);
                }
                oBtn[i].innerHTML = cut+"...";
            } else {
                oBtn[i].innerHTML = btn;
            }
        }
    })
</script>