@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-6 well" style="min-height:300px;">
            <h3>抽查信息公示</h3>
            <hr />
            <ul>
                @foreach (var x in ViewBag.random)
                {
                    <li style="padding:5px; margin:5px; padding-left:0; margin-left:0;">
                        <a asp-controller="Page" asp-action="ArticlePageRandom" asp-route-id="@x.Id">@x.Title</a>
                        <span style="float:right;">@x.PublicTime.ToString("yyyy年MM月dd日")</span>
                    </li>

                }
            </ul>
        </div>
        <div class="col-md-5 col-md-offset-1 well" style="min-height:300px;">
            <h3>严重违法信息公示</h3>
            <hr />
            <ul>
                @foreach (var x in ViewBag.illegal)
                {
                    <li style="padding:5px; margin:5px; padding-left:0; margin-left:0;">
                        <a asp-controller="Page" asp-action="ArticlePageIllegal" asp-route-id="@x.Id">@x.Title</a>
                        <span style="float:right;">@x.PublicTime.ToString("yyyy年MM月dd日")</span>
                    </li>

                }
            </ul>
        </div>
        <div class="col-md-6 well" style="min-height:300px;">
            <h3>经营异常信息公示</h3>
            <hr />
            <ul>
                @foreach (var x in ViewBag.unusual)
                {
                    <li style="padding:5px; margin:5px; padding-left:0; margin-left:0;">
                        <a asp-controller="Page" asp-action="ArticlePageUnusual" asp-route-id="@x.Id">@x.Title</a>
                        <span style="float:right;">@x.PublicTime.ToString("yyyy年MM月dd日")</span>
                    </li>

                }
            </ul>
        </div>
    </div>
</div>