@model IEnumerable<Info>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<content class="InfoPage InfoIllegalPage">
    <div class="search">
        <form asp-action="SearchIllegal" asp-controller="Page" method="post">
            <input type="text" name="key" placeholder="请输入公司注册号搜索相关违法公示">
            <input class="btn1" type="submit" vlaue="搜索" />
        </form>

    </div>
    <div class="list">
        <h3>严重违法公示</h3>
        <ul class="list-title">
            <li class="list-name">企业名称</li>
            <li>注册号</li>
            <li>被列入严重违法日期</li>
        </ul>
        @foreach (var x in Model)
        {
            <ul class="list-content" style="font-size:1.2em;">
                <li class="list-name">
                    <form asp-action="OneInfo" asp-controller="Page" method="get">
                        <input type="hidden" name="Id" value="@x.Id" />
                        <input type="hidden" name="TypeId" value="@x.TypeId" />
                        <button type="submit" style="border:none;background:none; color:#02092e;"><strong class="aBtn">@x.CompanyName</strong></button>
                    </form>
                </li>
                <li>@x.RegisteNumber</li>
                <li>@x.InTime.ToString("yyyy年MM月dd日")</li>
            </ul>
        }
    </div>
</content>
@Html.MakePager("pager-item", "", "pager")

<script type="text/javascript">
    $(window).load(function(){
        var oBtn = document.getElementsByClassName("aBtn");
        for(var i=0;i<oBtn.length;i++){
            var btn = oBtn[i].innerHTML;
            var a = null;
            var cut = new String();
            if (btn.length > 12) {
                for (var j = 0; j <= 14; j++) {
                    a = btn.charAt(j);
                    cut = cut.concat(a);
                }
                oBtn[i].innerHTML = cut+"...";
            } else {
                oBtn[i].innerHTML = btn;
            }
        }
    })
</script>