@model IEnumerable<Info>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<content class="InfoPage InfoUnusualPage">
    <div class="search">
        <form asp-action="SearchUnusual" asp-controller="Page" method="post">
            <input type="text" name="key" placeholder="请输入公司注册号搜索相关经营异常公示">
            <input class="btn1" type="submit" vlaue="搜索" />
        </form>

    </div>
    <div class="list">
        <h3>经营异常公示</h3>
        <ul class="list-title">
            <li class="list-name">企业名称</li>
            <li>注册号</li>
            <li>被列入经营异常名录日期</li>
        </ul>
        @foreach (var x in Model)
        {
            <ul class="list-content">
                <li class="list-name"><a href="javascript:void(0);" onclick="jump(@x.Id,@x.TypeId)">@x.CompanyName</a></li>
                <li>@x.RegisteNumber</li>
                <li>@x.InTime.ToString("yyyy年MM月dd日")</li>
            </ul>

        }

    </div>
</content>
@Html.MakePager("pager-item", "", "pager")

<script type="text/javascript">
    function jump(id,typeId) {
        alert(1);
            $(function () {
                var url = "/Page/OneInfo";
                var params = { "id": id,"typeId":typeId };
                $.post(url, params, function (data) {
                    if (data == "success") {
                        alert("成功");

                    }
                    else {
                        alert("失败");
                    }

                });
            });
        }
</script>