@model IEnumerable<Info>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div style="font-size:2em; padding:16px 5px; color:#000;">
                <p>@ViewBag.Company&nbsp;&nbsp;&nbsp;&nbsp;注册号:@ViewBag.Registe&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">@ViewBag.strU&nbsp;&nbsp;@ViewBag.strI</span></p>
            </div>
            <ul id="myTab" class="nav nav-tabs" style="font-size:1.5em;">
                <li class="active">
                    <a href="#baseInfo" data-toggle="tab" class="@ViewBag.basein">
                        登记信息
                    </a>
                </li>
                <li><a href="#report" data-toggle="tab">年度报表</a></li>
                <li><a href="#unusual" data-toggle="tab" class="@ViewBag.uin">经营异常信息</a></li>
                <li><a href="#illegal" data-toggle="tab" class="@ViewBag.iin">严重违法信息</a></li>
                <li><a href="#random" data-toggle="tab" class="@ViewBag.rin">抽查检查信息</a></li>
            </ul>
            <div id="myTabContent" class="tab-content" style="font-size:1.2em;">
                <div class="tab-pane fade in active" id="baseInfo">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <tr>
                                    <th class="text-center" colspan="5">登记信息</th>
                                </tr>
                                
                                <tr>
                                    <th>注册号</th>
                                    <td colspan="2">@ViewBag.infoBase.RegisteNumber</td>
                                    <th>企业名称</th>
                                    <td colspan="2">@ViewBag.infoBase.CompanyName</td>
                                </tr>
                                <tr>
                                    <th>住所</th>
                                    <td colspan="5">@ViewBag.infoBase.Address</td>
                                </tr>
                                <tr>
                                    <th>营业期限自</th>
                                    <td colspan="2">@ViewBag.infoBase.BeginTime.ToString("yyyy年MM月dd日")</td>
                                    <th>营业期限至</th>
                                    <td colspan="2">@ViewBag.infoBase.EndTime.ToString("yyyy年MM月dd日")</td>
                                </tr>
                                <tr>
                                    <th>经营范围</th>
                                    <td colspan="5">@ViewBag.infoBase.Scope</td>
                                </tr>
                                <tr>
                                    <th>登记机关</th>
                                    <td colspan="2">@ViewBag.infoBase.PublicUnit</td>
                                    <th>核准日期</th>
                                    <td colspan="2">@ViewBag.infoBase.ApproveTime.ToString("yyyy年MM月dd日")</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="report">
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-center" colspan="3">各年度报表</th>
                        </tr>
                        <tr>
                            <th>报送年度</th>
                            <th>发布日期</th>
                        </tr>
                        <tbody>
                            @foreach (var x in ViewBag.report)
                            {
                                <tr>
                                    <td>
                                    <a  asp-action="OneReport" asp-controller="Page" asp-route-id="@x.Id" target="_blank">@x.DateTime<span>年度报告</span></a></td>
                                    <td>@x.WriteTime.ToString("yyyy年MM月dd日")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="unusual">
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-center" colspan="3">经营异常信息</th>
                        </tr>
                        <tr>
                            <th>列入经营异常名录原因</th>
                            <th>列入日期</th>
                            <th>做出决定机关</th>
                        </tr>
                        <tbody>
                            @foreach (var x in ViewBag.infoU)
                            {
                                <tr>
                                    <td>@x.InReason</td>
                                    <td>@x.InTime.ToString("yyyy年MM月dd日")</td>
                                    <td>@x.PublicUnit</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="illegal">
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-center" colspan="3">严重违法信息</th>
                        </tr>
                        <tr>
                            <th>列入严重违法失信企业名单原因</th>
                            <th>列入日期</th>
                            <th>做出决定机关</th>
                        </tr>
                        <tbody>
                            @foreach (var x in ViewBag.infoU)
                            {
                                <tr>
                                    <td>@x.InReason</td>
                                    <td>@x.InTime.ToString("yyyy年MM月dd日")</td>
                                    <td>@x.PublicUnit</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="random">
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-center" colspan="5">严重违法信息</th>
                        </tr>
                        <tr>
                            <th>检查实施机关</th>
                            <th>类型</th>
                            <th>日期</th>
                            <th>结果</th>
                        </tr>
                        <tbody>
                            @foreach (var x in ViewBag.infoR)
                            {
                                <tr>
                                    <td>@x.PublicUnit</td>
                                    <td>抽查</td>
                                    <td>@x.InTime.ToString("yyyy年MM月dd日")</td>
                                    <td>@x.Result</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/jquery-2.1.1.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script>
    $(function () {
        $('#myTab a[class="basein"]').tab('show');
        $('#myTab a[class="iin"]').tab('show');
        $('#myTab a[class="uin"]').tab('show');
        $('#myTab a[class="rin"]').tab('show');
  })
</script>